@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&family=Tilt+Prism&display=swap');

html,body{
    margin: 0;
    padding: 0;
}
.NombrePrincipal{
    text-align: center;
    color: white;

}
.main-header{
    background-color: black;
    background-size: cover;
    background-position: center;
    padding-bottom: 1px;
}

.main-header a{
    text-align: center;
}

.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: 0.7rem;
    color: white;
    text-decoration: none;
}

.main-nav{
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
}

.nav a:hover{
    background-color: rgba(255,255,255,0.6);
}

.acercaimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.container{
    height: 1000px;
    width: 100%;
    background-image: url("atlasimg/centenario.jpg");
}

.quien{
    font-family: 'Tilt Prism', cursive;
    color: black;
    text-align: center;
    font-size: 3em;
    background-color: white;
}

.textgenerico{
    font-family: 'Gentium Book Basic', serif;
    background-color: white;
    font-size: 1.2em;
}

.textnorm{
    font-family: 'Gentium Book Basic', serif;
    font-size: 1em;
}

.fechaspartidos{
    text-align: center;
}
.fechaspartidos img{
    height: 100px;
}

.border{
    border-bottom: 1px solid black;
    align-self: center;
    text-align: center;
    margin: 20px auto;
    width: 40%;
}

.boton{
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.btn1:hover{
    background-color: red; /* Green */
    color: white;
}

.btn2:hover{
    background-color: black; /* Green */
    color: white;
}

.btn1{
    background-color: white;
    color: black;
    border: 2px solid red;
}

.btn2{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.main-footer-container{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: red;
    justify-content: center;
}

.main-footer-container ul{
    flex-grow: 0;
    text-align: center;
}

.footer-nav img{
    height: 50px;
}

.contjuego{
    width: 600px;
    margin: 6px auto;
}

.rect{
    background-color: purple;
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.5%;
    border-radius: 8px;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;

}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    letter-spacing: 3.5px;
    color: red;
    font-size: inherit;
    transition: all .5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    outline: none;
}

.btnjuego:hover{
    color: white;
    background-color: black;
    color: white;
}

#hexcolor{
    font-size: 130%;
    border: 1px solid white;
    border-radius: 5px;
}

#mensaje{
    display: inline-block;
    width: 20%;
    font-size: 20px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}